@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Index";

    var roles = (List<IdentityRole>)ViewBag.Roles;
    var userRoles = (List<IdentityUserRole<string>>)ViewBag.UserRoles;

    var employees = Model.Where(x => userRoles.Any(z => z.UserId == x.Id)).ToList();
    var customers = Model.Except(employees).ToList();
}


@{ Html.RenderPartial("_PageHeaderPartialView");}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">List User</h3>
        </div>
        <div class="box-body">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab">Employee</a>
                    </li>
                    <li>
                        <a href="#tab_2" data-toggle="tab">Customer</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <p>
                            <a class="btn btn-success" asp-action="Details">Create New</a>
                        </p>
                        <table class="table data-table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        Roles
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in employees)
                                {
                                    <tr id="tr-item-@item.Id">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @foreach (var r in roles)
                                            {
                                                var myRoles = userRoles.Where(x => x.UserId == item.Id).ToList();

                                                if (myRoles.Any(x => x.RoleId == r.Id))
                                                {
                                                    <a href="javascript:void(0)" class="label label-success active btn-sm role"> @r.Name</a>
                                                }
                                            }

                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-warning btn-xs" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-xs" onclick="deleteItem('@item.Id')" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <table class="table data-table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        Roles
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in customers)
                                {
                                    <tr id="tr-item-@item.Id">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @foreach (var r in roles)
                                            {
                                                var myRoles = userRoles.Where(x => x.UserId == item.Id).ToList();

                                                if (myRoles.Any(x => x.RoleId == r.Id))
                                                {
                                                    <a href="javascript:void(0)" class="label label-success active btn-sm role"> @r.Name</a>
                                                }
                                            }

                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-warning btn-xs" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-xs" onclick="deleteItem('@item.Id')" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->


@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
}
@section scripts{
    <!-- DataTables -->
    <script src="~/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/bootbox.min.js"></script>
    <script>
        $(function () {
            $('.data-table').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

        function deleteItem(id) {
            bootbox.confirm({
                title: "Delete item?",
                message: "Do you want to delete item now? This cannot be undone.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Continue'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post('/admin/user/delete', { id: id }, function (data) {
                            if (data.success == 1) {
                                $('#tr-item-' + id).remove();
                            }
                        })
                    }
                }
            });
        }
    </script>
}